name: Build Tweak

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      # 1) كود مشروعك (التويك)
      - name: Checkout tweak repository
        uses: actions/checkout@v4
      
      # 2) تحميل Theos في مجلد theos/
      - name: Checkout Theos
        uses: actions/checkout@v4
        with:
          repository: theos/theos
          path: theos
          submodules: recursive
      
      # 3) تعريف متغير THEOS وإضافة bin للـ PATH
      - name: Setup THEOS env
        run: |
          echo "THEOS=$GITHUB_WORKSPACE/theos" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/theos/bin" >> $GITHUB_PATH

      # 4) تحميل الـ SDK و البناء
      - name: Build
        run: |
          # حذف مجلد sdks الذي يجي مع theos عشان ما يسبب مشكلة لـ git clone
          rm -rf "$THEOS/sdks"
          git clone --depth=1 https://github.com/xybp888/iOS-SDKs "$THEOS/sdks"
          mv "$THEOS/sdks/iPhoneOS14.5.sdk" "$THEOS/sdks/iPhoneOS.sdk"
          make package FINALPACKAGE=1
          
      # 5) رفع ملف deb الناتج
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AIProMenu_DEB
          path: packages/*.deb
